*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #9CC1B4;
  min-height: 100vh;
  min-width: 100vh;
}

.menu{
  background-color: #3B3B3B;
  min-width: 100vh;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
}
.conteiner1{
  display: flex;
  justify-content: center;
}

.conteiner2{
  background-color: white ;
  width: 70%;
  height: 70vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.conteiner2 #button-add{
  border: none;
  background: #71888E;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 2px;
  padding: 0.6rem;
  width: 20%;
  margin-left: 80%;
}

.conteiner3{
  margin-top: 10px;
  overflow: auto;
  padding: 0;
  width: 100%;
}



.form-add{
  background-color: white ;
  max-width: 350px;
  min-height: 53vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  
}

.form-add h2{
  font-weight: 600;
  margin-bottom: 2rem;
}


.form-add input{
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  border-top: none;
  border-left: none;
  border-right: none;

}

.form-add button{
  border: none;
  background: #71888E;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  padding: 0.6rem;
  margin-top: 1rem;
}
